- sharesCount = 0
- highestIndex = 0
doctype
html
  head
    link(rel="stylesheet" href="/style.css")
  body
    #wrapper
      h3 #{key}'s shares
      #shares
        h3 Search
        form#search(method="GET" action="/search/#{key}")
          input(type="text" name="q" placeholder="Search...")
          input(type="submit")
        h3 Shares
        include ./list.jade
        h3 Copy
        form#copy(method="POST" action="/copy")
          input(type="text" name="dest" placeholder="destination")
          input(type="hidden" name="src" value="#{key}")
          input(type="submit")
      h3(class="bottomPadding") &nbsp;
script.
  highestIndex = #{highestIndex};
  user = "#{key}"
script(src="/shares.js")